
@font-face {
	font-family: 'HouschkaAltPro';
	src: url("../fonts/houschka/HouschkaAltPro-Light.eot?") format("eot"), url("../fonts/houschka/HouschkaAltPro-Light.woff2") format("woff2"), url("../fonts/houschka/HouschkaAltPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "HouschkaAltPro";
	src: url("../fonts/houschka/HouschkaAltPro-Medium.eot?") format("eot"), url("../fonts/houschka/HouschkaAltPro-Medium.woff2") format("woff2"), url("../fonts/houschka/HouschkaAltPro-Medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "HouschkaAltPro";
	src: url("../fonts/houschka/HouschkaAltPro-Bold.eot?") format("eot"), url("../fonts/houschka/HouschkaAltPro-Bold.woff2") format("woff2"), url("../fonts/houschka/HouschkaAltPro-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "HouschkaAltPro";
	src: url("../fonts/houschka/HouschkaAltPro-ExtraBold.eot?") format("eot"), url("../fonts/houschka/HouschkaAltPro-ExtraBold.woff2") format("woff2"), url("../fonts/houschka/HouschkaAltPro-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
