.faq-container {
  .card {
    border: 0;
  }
  .card-header {
    background: transparent;
    border:0;
    padding:0.25rem 1.25rem;
    &:first-child {
      border-radius: 0;
    }
    svg {
      position: absolute;
      left: 0;
      top: .65em;
    }
  }
  .card-body {
    font-size:1.4 rem;
    color: #212121;
    padding-top: 0;
    margin-left: 1rem;
  }
  .list-group-item {
    padding:0 1.25rem;
    border:0;
    &.faq-panel {
      margin: 0.25rem 0;
      border: 2px solid $primary;
      border-width: 2px 0 2px;
      & + .faq-panel {
        border-width: 0 0 2px;
      }
    }
  }
  .fa-plus-square {
    display: none;
  }
  .fa-minus-square {
    display: inline-block;
  }
  .collapsed {
    .fa-plus-square {
      display: inline-block;
    }
    .fa-minus-square {
      display: none;
    }
  }
}
